@import './colors';
@import './variables';
@import url('https://fonts.googleapis.com/css?family=News+Cycle&display=swap');

body {
  background-image: url(./libraryBackground.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: 'News Cycle', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}