@import '../../Styles/colors';

.Home {
    display: flex;
    flex-direction: column;
    // padding: .5rem;
    // background-color: $primary-color;
  }

.home-sidebar {
    background-color: $gray-highlight;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}